[Unit]
Description=fastapi server for merging files
After=network.target

[Service]
Type=simple
# The user is provided via cd
User=${USER}
# The working directory is provided via cd
WorkingDirectory=${WORKING_DIRECTORY}
ExecStart=/usr/bin/python3 ./src/main.py

[Install]
WantedBy=multi-user.target
